<div id="<%= dom_id comment %>">
  <p>
    <strong>Text:</strong>
    <%= comment.text %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= comment.account_id %>
  </p>

  <p>
    <strong>Account username:</strong>
    <%= comment.account_username %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </p>

</div>
